body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  border-radius: 15px;
}

.problem-box, .decision-box {
  position: absolute;
  width: 100%;
  padding: 10px;
  text-align: center;

  color: white;
}

.problem-box {
  top: 20px;
}

.decision-box {
  top: 80px;
}

.stats {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.stat {
  display: inline-block;
  margin: 0 10px;
}

.arrow {
  font-size: 20px;
}

.up {
  color: green;
}

.down {
  color: red;
}

.environment {
  color: blue;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.nav-button:focus {
  outline: none;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
